<div id="app">
	<router-link to="/top"><router-link>
	<router-link to="/usrs">user list page</router-link>
	<router-link :to="{ name: 'user', params: { userId: 123 }}">user more</router-link>
	router.push({ name: 'user', params: { userId: 123 }})
	<router-view></router-view>
</div>

<script type="x-template" id="user-list">
  <div>
    <div class="loading" v-if="loading">Load...</div>
    <div v-if="error" class="error">
      {{ error }}
  </div>
  <div v-for="user in users" :key="user.id">
    <h2>{{ user.name }}</h2>
  </div>
  </div>
</script>

//spa
<script type="x-template" id="login">
  <div>
  <h2>Login</h2>
  <p v-if="$route.query.redirect">
  </p>
  <from @submit.prevent="login">
    <label><input v-model="email" palceholder="email"></label>
    <label><input v-model="pass" placeholder="password" type="password"></label><br>
    <button type="submit"></button>
    <p v-if="error" class="error">Login ERR</p>
  </from>
  </div>

  var Login = {
    template: '#login',
    data: function(){
      return {
        email: 'vue@example.com',
	pass: '',
	error: false
      }
    },
    methods: {
      login: function(){
        Auth.login(this.email, this.pass, (function(loggedIn){
	  if(!loggedIn){
	    this.error = true
	  }else{
	    this.$router.replace(this.$route.query.redirect || '/')
	  }
	}).bind(this))
      }
    }
  }

</script>


